.classpath
.project
.settings/
.gradle/
bin/
build/
src/test/generated
projects/example/lib/*.jar
projects/example/src/generated/java/de
projects/example/target/
projects/example-config/target
projects/maven-plugin/target/
