.classpath
.project
.settings/
.gradle/
bin/
build/
src/test/generated
example/.classpath
example/.project
example/.settings/
example/.gradle/
example/bin/
example/build/
example/lib/*.jar
example/src/generated/java/
example/.ant-targets-build.xml
